<div class="login-container">
  <div class="login-card">

    <mat-card>

      <mat-card-header class="login-header">
        <div class="logo-icon">
          <mat-icon>task_alt</mat-icon>
        </div>
        <mat-card-title>Iniciar Sesión</mat-card-title> 
        <!-- <mat-card-title>Priorix</mat-card-title> -->  
      </mat-card-header>
      
      <mat-card-content>
        <!-- Formulario de Login -->
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

          <div class="form-field">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Email</mat-label>
              <mat-icon matTextPrefix class="input-icon">email</mat-icon>
              <input matInput type="email" formControlName="userEmail" placeholder="test@email.com">
              <mat-error *ngIf="loginForm.get('userEmail')?.hasError('required')">
                El email es requerido
              </mat-error>
              <mat-error *ngIf="loginForm.get('userEmail')?.hasError('email')">
                Ingresa un email válido
              </mat-error>
            </mat-form-field>
          </div>
          
          <div class="form-field">

              <!-- <mat-form-field appearance="fill" class="full-width">
              <mat-icon matTextPrefix class="input-icon">lock</mat-icon>
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" formControlName="userPassword" placeholder="Contraseña">
              <mat-error *ngIf="loginForm.get('userPassword')?.hasError('required')">
                La contraseña es requerida
              </mat-error>
              <mat-error *ngIf="loginForm.get('userPassword')?.hasError('minlength')">
                Mínimo 6 caracteres
              </mat-error>
              </mat-form-field> -->

              <mat-form-field appearance="fill" class="full-width">
              <mat-label>Contraseña</mat-label>
              <mat-icon matPrefix class="input-icon">lock</mat-icon>

              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="userPassword" placeholder="Contraseña">
              <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                <mat-icon>
                  {{ hidePassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </button>

              <mat-error *ngIf="loginForm.get('userPassword')?.hasError('required')">
                La contraseña es requerida
              </mat-error>
              <mat-error *ngIf="loginForm.get('userPassword')?.hasError('minlength')">
                Mínimo 6 caracteres
              </mat-error>
             </mat-form-field>
          </div>
          
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading" class="full-width">
            {{ isLoading ? 'Iniciando sesión...' : 'Iniciar Sesión' }}
          </button>
        </form>
        
        <!-- Información de usuarios de prueba -->  
        <!-- <div class="test-users-info">
          <h4>Usuarios de prueba:</h4>
          <p><strong>Administrador:</strong> admin@test.com / admin123</p>
          <p><strong>Desarrollador:</strong> juan@test.com / juan123</p>
        </div> -->

      </mat-card-content>

    </mat-card>
  </div>
</div>
